
article header {
    margin-bottom: 30px;
}

.entry-content {
    top: 10px;
}

.ratingDiv {
    position: relative;
    height: 20px;
    margin-top: 10px;
}

.ratingButtons {
    float:left;
}

.ratingDiv .dashicons {
    font-size:200%;
    margin-right: 25px;
}

.totalScore {
    float:left;
    margin-left: 10px;
}

.totalScoreValue {
    color: darkseagreen;
}

.totalScoreText {
    color: darkseagreen;
}

.dashicons-thumbs-up:hover {
    font-size:250%;
}

.dashicons-thumbs-down:hover {
    font-size:250%;
}

.dashicons-thumbs-up.button_pressed {
    color: green;
}

.dashicons-thumbs-down.button_pressed {
    color: red;
}

