
.ratingDiv {
    position: relative;
    width: 210px;
    height: 70px;
}

.ratingButtons {
    width: 100px;
    float:left;
}

.ratingDiv .dashicons {
    font-size:200%;
    margin-right: 25px;
}

.totalScore {
    float:left;
}

.totalScoreValue {
    color: darkseagreen;
}

.totalScoreText {
    color: darkseagreen;
}

.dashicons-thumbs-up:hover {
    font-size:250%;
}

.dashicons-thumbs-down:hover {
    font-size:250%;
}

.dashicons-thumbs-up.button_pressed {
    color: green;
}

.dashicons-thumbs-down.button_pressed {
    color: red;
}

/* is not related to the plugin */
.new_entry-title {
    font-size: 2.2rem;
    line-height: 1.4545;
    margin-bottom: 0.1545em;
}
